<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>  
        <add key="CosmosDBAccountEndpoint" value="https://project-tesla2.documents.azure.com:443/"/>  
        <add key="CosmosDBAccountKey" value="EMWH7grErJEQH1bXdPmAB9TShiZqpwZovSFJnXTIkIcRMVsOHSXOXzJDgxcUefWyt2cfuIL0qvLnpvGqswqMCQ=="/>  
  </appSettings>  
</configuration>
